Repository NatoBoram/Leanish, changes with the labels that .github/labeler.yaml gives for each.
All labels: dependencies, documentation, github_actions

.github/labeler.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler-5.json

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yaml
          - .syncpackrc.yaml
          - '**/package.json'
          - '**/pnpm-lock.yaml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler-sync.yaml
          - .github/labeler.yaml
          - .github/workflows/**

⬆️ Upgrade to Svelte 5
  package.json
  pnpm-lock.yaml
Labels: dependencies

🚨 Fix element_invalid_self_closing_tag
  src/lib/Modal.svelte
  src/lib/Spinner.svelte
  src/lib/comments/CommentForm.svelte
  src/lib/comments/PurgeCommentForm.svelte
  src/lib/comments/RemoveCommentForm.svelte
  src/lib/comments/ReportCommentForm.svelte
  src/lib/community/CommunityGrid.svelte
  src/lib/community/CommunityIcon.svelte
  src/lib/person/PersonCard.svelte
  src/lib/person/PersonIcon.svelte
  src/lib/posts/PurgePostForm.svelte
  src/lib/posts/ReportPostForm.svelte
  src/routes/HomeSiteCard.svelte
  src/routes/PersonInfobanner.svelte
  src/routes/SiteInfobanner.svelte
Labels: none

👽️ Migrate component to Svelte 5 syntax
  src/lib/ClickOutside.svelte
  src/lib/Dismissable.svelte
  src/lib/LimitSelector.svelte
  src/lib/PaginationBar.svelte
  src/lib/QSelector.svelte
  src/lib/SearchTypeSelector.svelte
  src/lib/ShowNsfwSelector.svelte
  src/lib/SortSelector.svelte
  src/lib/buttons/BlockCommunityButton.svelte
  src/lib/buttons/BlockPersonButton.svelte
  src/lib/buttons/DeleteCommentButton.svelte
  src/lib/buttons/DeletePostButton.svelte
  src/lib/buttons/DistinguishButton.svelte
  src/lib/buttons/FeatureButton.svelte
  src/lib/buttons/FollowCommunityButton.svelte
  src/lib/buttons/LockPostButton.svelte
  src/lib/buttons/MarkPostAsReadButton.svelte
  src/lib/buttons/RemoveCommentButton.svelte
  src/lib/buttons/RemovePostButton.svelte
  src/lib/buttons/SaveCommentButton.svelte
  src/lib/buttons/SavePostButton.svelte
  src/lib/comments/CommentBottomBar.svelte
  src/lib/comments/CommentForm.svelte
  src/lib/comments/CommentMeatballs.svelte
  src/lib/comments/CommentNode.svelte
  src/lib/comments/CommentSortSelector.svelte
  src/lib/comments/PurgeCommentForm.svelte
  src/lib/comments/RemoveCommentForm.svelte
  src/lib/comments/ReportCommentForm.svelte
  src/lib/posts/Post.svelte
  src/lib/posts/PostBottomBar.svelte
  src/lib/posts/PostMeatballs.svelte
  src/lib/posts/PurgePostForm.svelte
  src/lib/posts/ReportPostForm.svelte
  src/routes/SiteInfobanner.svelte
Labels: none

💄 Add secondary colour
  src/lib/posts/PostBottomBar.svelte
  src/routes/+page.svelte
  src/routes/HomeSiteCard.svelte
  src/routes/debug/theme/+page.server.ts
  src/routes/debug/theme/+page.svelte
  src/routes/debug/theme/BgColourTest.svelte
  src/routes/debug/theme/TextColourTests.svelte
  tailwind.config.cjs
Labels: none

🔧 Move some scripts
  package.json
Labels: dependencies

👽️ Migrate some components to Svelte 5
  src/lib/ProfileMenu.svelte
  src/routes/[site]/settings/Follows.svelte
Labels: none

👽️ Migrate more components to Svelte 5
  src/lib/DepthSelector.svelte
  src/lib/ListingTypeSelector.svelte
  src/lib/community/BlockCommunityLayout.svelte
  src/lib/community/CommunityBlockButton.svelte
  src/lib/community/CommunityFollowButton.svelte
  src/lib/community/FollowCommunityLayout.svelte
  src/lib/person/PersonBlockButton.svelte
  src/lib/person/PersonIcon.svelte
  src/routes/[site]/settings/+page.svelte
Labels: none

✅ GitHub Actions are too slow
  src/lib/utils/dates.test.ts
Labels: none

💚 skipIf(process.env['CI'])
  src/lib/utils/dates.test.ts
Labels: none

🚨 A run of prefer-const
  src/lib/DepthSelector.svelte
  src/lib/ProfileMenu.svelte
  src/lib/community/CommunityBlockButton.svelte
  src/lib/community/CommunityFollowButton.svelte
  src/lib/community/CommunityGrid.svelte
  src/lib/person/PersonBlockButton.svelte
  src/lib/person/PersonCard.svelte
  src/lib/person/PersonGrid.svelte
  src/lib/person/PersonIcon.svelte
  src/lib/person/PersonSidebar.svelte
  src/routes/[site]/settings/+page.svelte
  src/routes/[site]/settings/Follows.svelte
  src/routes/[site]/u/[user]/+page.svelte
Labels: none

⚗️ Switch to bun
  .gitignore
  Dockerfile
  bun.lockb
  package.json
  pnpm-lock.yaml
  svelte.config.js
Labels: dependencies

👷 Update my pipeline practices
  .github/workflows/node.js.yaml
  .github/workflows/pnpm-publish.yaml
  .github/workflows/pnpm-version-patch.yaml
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: dependencies, github_actions

✏️ Fix typo in import
  src/lib/utils/links.test.ts
  vite.config.ts
Labels: none

🔧 Enable consistent-type-assertions: never
  .github/workflows/node.js.yaml
  eslint.config.js
  src/lib/ClickOutside.svelte
  src/lib/preferences/current_home_site.ts
  src/lib/preferences/home_sites.ts
  src/lib/utils/adapters.ts
  src/routes/[site]/settings/+page.svelte
  src/service-worker.ts
Labels: github_actions

🔧 Enable consistent-type-assertions: never (#298)
  .github/workflows/node.js.yaml
  eslint.config.js
  src/lib/ClickOutside.svelte
  src/lib/preferences/current_home_site.ts
  src/lib/preferences/home_sites.ts
  src/lib/utils/adapters.ts
  src/routes/[site]/settings/+page.svelte
  src/service-worker.ts
Labels: github_actions

🚨 Fix ESLint issues
  src/lib/comments/CommentNode.svelte
  src/lib/comments/CommentTopBar.svelte
  src/lib/utils/requests.ts
  src/routes/+page.svelte
  src/routes/[site]/settings/+page.svelte
  src/routes/[site]/settings/Follows.svelte
Labels: none

💚 node-version: 24
  .github/workflows/android.yaml
  .github/workflows/github-pages.yaml
  .github/workflows/node.js.yaml
  .github/workflows/pnpm-publish.yaml
Labels: github_actions

💚 Sync before test
  .github/workflows/node.js.yaml
Labels: github_actions

🔧 Enable consistent-type-assertions: never
  .github/workflows/node.js.yaml
  eslint.config.js
  src/lib/ClickOutside.svelte
  src/lib/preferences/current_home_site.ts
  src/lib/preferences/home_sites.ts
  src/lib/utils/adapters.ts
  src/routes/[site]/settings/+page.svelte
  src/service-worker.ts
Labels: github_actions

🔧 Enable consistent-type-assertions: never (#301)
  .github/workflows/node.js.yaml
  eslint.config.js
  src/lib/ClickOutside.svelte
  src/lib/preferences/current_home_site.ts
  src/lib/preferences/home_sites.ts
  src/lib/utils/adapters.ts
  src/routes/[site]/settings/+page.svelte
  src/service-worker.ts
Labels: github_actions

🔧 Add more groups to dependabot
  .github/dependabot.yaml
Labels: dependencies
